.title{
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 700;
    font-size: 26.7927px;
    line-height: 32px;
    
    color: #000000;
}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26.7927px;
    line-height: 32px;
    
    color: #000000;
}


@media screen and (max-width:900px){
    .title{
        font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 12.3333px;
line-height: 15px;

color: #484747;
    }

    p{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11.7927px;
line-height: 14px;

color: #000000;
    }
}