
.opd,.tp{
 
 left: 31.04%;
 right: 31.11%;
 top: 38.56%;


 display: flex;
text-align: justify;
justify-content: center;
align-items: center;

}


.tp{

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 0.8rem;
line-height: 22px;
bottom: 75.33%;

color: #484747;

display: flex;
text-align: justify;
justify-content: center;
align-items: center;
}

.thankss{
 
margin-top: 180px;
width: 100%;
margin-bottom: 180px;

}