.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input{
    width: 60%;
}

    .bullets {
        font-family: 'Goldman';
        font-style: normal;
        font-weight: 700;
        color: #000000;
      }




