h1{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;

    
    color: #484747;
    }
    
    p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    color: #000000;
    }